.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
}

.banner-container {
  color: white;
  font-family: 'PT Serif', serif;
  font-size: 25px;
  margin-left: 20%;
}

.banner h1 {
  margin: 0 0 20px 0
}

.banner p {
  margin: 0 0 20px 0;
}
