.container {
  width: 800px;
  margin: 80px auto auto auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 250px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.card p {
  text-align: justify;
  margin: 25px;
}

.card-img {
  width: 250px;
}
